<table class="table table-bordered form">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @suplement.name %></td>
    </tr>
    <tr>
      <td>Number of units:</td>
      <td><%= @suplement.number_of_units %></td>
    </tr>
    <tr>
      <td>Daily dosage in units:</td>
      <td><%= @suplement.daily_dosage_in_units %></td>
    </tr>
    <tr>
      <td>Number of days:</td>
      <td><%= @suplement.number_of_days %></td>
    </tr>
    <tr>
      <td>Supplement cost:</td>
      <td><%= @suplement.suplement_cost.round(2) %></td>
    </tr>
    <tr>
      <td>Total cost:</td>
      <td><%= @suplement.total_cost.round(2) %></td>
    </tr>
  </tbody>
</table>
