<h1>Edit <%= @suplement.name %></h1>

<%= form_for(@suplement) do |f| %>

  <%= render 'form', suplement: @suplement %>

  <div class="field">
    <%= f.label :total_cost %>
    <%= f.text_area :total_cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
