<h2 class="heading">My Supplements</h2>

  <%= if @suplements.each do |suplement| %>

  <h6 class="create-helper"><%= link_to suplement.name, suplement_path(suplement) %></h6>

<table class="table table-bordered form">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= suplement.name %></td>
    </tr>
    <tr>
      <td>Number of units:</td>
      <td><%= suplement.number_of_units %></td>
    </tr>
    <tr>
      <td>Daily dosage in units:</td>
      <td><%= suplement.daily_dosage_in_units %></td>
    </tr>
    <tr>
      <td>Number of days:</td>
      <td><%= suplement.number_of_days %></td>
    </tr>
    <tr>
      <td>Supplement price:</td>
      <td><%= number_to_currency(suplement.suplement_cost) %></td>
    </tr>
    <tr>
      <td>Total cost:</td>
      <td><%= number_to_currency(suplement.total_cost) %></td>
    </tr>
  </tbody>
</table>

  <div class="del-edit">
    <%= link_to "Edit", edit_suplement_path(suplement) %> <br>
    <%= link_to 'Delete', suplement_path(suplement), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
<% end %>

<div class="del-edit">
  <% if @suplements.blank? %>
    <%= "You haven't created any suplements yet." %>
  <% end %>
</div>

<div class="create-helper">
  <%= link_to "Create New Supplement", new_suplement_path %>
</div>
