<h1>My Supplements</h1>

  <%= if @suplement.each do |suplement| %>

  <p><%= link_to suplement.name, suplement_path(suplement) %></p>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Name:</td>
        <td><%= suplement.name %></td>
      </tr>
      <tr>
        <td>Number of units:</td>
        <td><%= suplement.number_of_units %></td>
      </tr>
      <tr>
        <td>Daily dosage in units:</td>
        <td><%= suplement.daily_dosage_in_units %></td>
      </tr>
      <tr>
        <td>Number of days:</td>
        <td><%= suplement.number_of_days %></td>
      </tr>
      <tr>
        <td>Supplement cost:</td>
        <td><%= suplement.suplement_cost %></td>
      </tr>
      <tr>
        <td>Total cost:</td>
        <td><%= suplement.total_cost %></td>
      </tr>
    </tbody>
  </table>


  <%= link_to "Edit", edit_suplement_path(suplement) %>
  <%= link_to 'Delete', suplement_path(suplement), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <div>
    <%= link_to "Create New Supplement", new_suplement_path %>
    <% end %>
  </div>
