<h3 class="heading"><%= @suplement.name %></h3>

  <%= render 'table', suplement: @suplement %>

<div class="del-edit">
  <%= link_to "Edit", edit_suplement_path(@suplement) %> <br>
  <%= link_to 'Delete', suplement_path(@suplement), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="create-helper">
  <%= create_helper %>
</div>
