<h1><%= @suplement.name %> show page</h1>

<%= form_for(@suplement) do |f| %>

  <div class="field">

    <% @suplement.total_cost = @suplement.number_of_days * @suplement.daily_dosage_in_units * (@suplement.suplement_cost / @suplement.number_of_units) %>


    <%= f.label :total_cost %>
    <%= f.text_area :total_cost %>
  </div>

  <%= link_to "Edit item", edit_suplement_path(@suplement.id) %>
  <%= link_to 'Delete item', suplement_path(@suplement), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

