<h3 class="heading"><%= @suplement.name %> show page</h3>

<div class="form">
  <%= render 'table', suplement: @suplement %>
</div>


<div class="create-helper">
  <%= link_to "Edit", edit_suplement_path(@suplement) %>
  <%= link_to 'Delete', suplement_path(@suplement), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="create-helper">
  <%= create_helper %>
</div>
