<!DOCTYPE html>
<html>
  <head>
    <title>SuplementsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <div><%= link_to 'Home', pages_home_path %></div>
    <div><%= link_to 'About', pages_about_path %></div>
    <div><%= link_to 'Contact', pages_contact_path %></div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= login_helper %>

    <%= yield %>
  </body>
</html>
