<!DOCTYPE html>
<html>
  <head>
    <title>SuplementsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <div class="container">
      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>

      <div>
        <% if current_user %>
        <%= link_to "My Supplements", suplements_path(:user_id => current_user.id) %>
        <% else %>
        <%= link_to "Create Your Supplement", new_suplement_path %>
        <% end %>
      </div>

    </div>
  </body>
</html>
